
.container, .main {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 8px;
    }

    .main {
      padding: 0px;
    }

.sidebar {
      background-color: #0288D1;
      color: white;
      padding: 16px
    }

    .sidebar h1, .subtitle {
      font-family: courier;
      line-height: 1;
      margin: 0;
      text-align: center;
    }

    .subtitle {
      font-style: italic;
      font-size: 1.3em;
      padding-top: 8px;
      margin: 0;
    }

     @font-face {
      font-family: "Flaticon";
      src: url("../flaticon/Flaticon.eot");
      src: url("../flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("../flaticon/Flaticon.woff") format("woff"),
           url("../flaticon/Flaticon.ttf") format("truetype"),
           url("../flaticon/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

    .sidebar ul {
      padding: 0;
    }

    ul.contact-info {
      list-style-type: none;
    }

    ul.contact-info li:before {
      font-family: Flaticon;
      float: left;
      width: 1.4em;
    }

    ul.contact-info li.mail:before { content: "\f101"}

    ul.contact-info li.play:before { content: "\f102"}

    ul.contact-info li.github:before { content: "\f103"; }

    ul.contact-info li.web:before { content: "\f104"; }

    ul.contact-info li.call:before { content: "\f104"}

    ul.contact-info li.portfolio:before { content: "\f105"}

    ul.high {
      margin-left: 8px;
    }

    .sidebar a {
      color: white;
    }

    h2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    h2:after {
      background-color: white;
      content: '\a0';
      flex-grow: 1;
      height: 1px;
      position: relative;
      top: 0.5em;
      margin-left: 8px;
    }

    .sidebar h3 {
      text-align: center;
      margin-bottom: 4px;
    }

    .sidebar p {
      margin: 0px;
      text-align: center;
    }

    .summary {
      font-size: 1.2em;
      font-weight: bold;
      grid-column: 1/3;
      margin: 0px;
    }

    .main h2 {
      color: #0288D1;
      grid-column: 1/3;
      margin: 0px;
      padding: 0px;
      line-height: 1;
    }

    .consent {
      grid-column: 1/3;
    }

    .projects_container {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
    }

    .main h2:after {
      background-color: #0288D1;
    }

    .date {
      font-style: italic;
    }

    .experience_entry p, .education_entry p {
      padding: 0px;
      margin: 0px;
    }

    .role {
      font-weight: bold;
      font-style: normal;
      color: #0288D1;
      margin: 0px;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .card h3 {
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .card p {
      margin: 0;
      flex-grow: 1;
    }

    .card a{
      color:  #0288D1;
      align-self: flex-end;
      vertical-align: bottom;
    }

    .card img {
      width: 40%;
      align-self: center;
    }

    .card div {
      text-align: center;
    }